In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv("/content/Churn_Modelling.csv")

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df = df.drop(columns=['RowNumber','CustomerId','Surname'])

In [ ]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [ ]:
df = pd.get_dummies(df, columns=["Geography"],dtype=int)

In [ ]:
X = df.drop(columns=['Exited'])

In [ ]:
y = df['Exited']

In [ ]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,Female,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,Female,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,Female,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,Female,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0,0,1

In [ ]:
X["Gender"] = X["Gender"].map({"Male":1, "Female":0})

In [ ]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify = y
)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test  = scaler.transform(X_test)

In [ ]:
X_train.shape

(8000, 12)

In [ ]:
input_dim = X_train.shape[1]

model = keras.Sequential([
    layers.Dense(16, input_shape=(input_dim,)),
    #layers.BatchNormalization(),
    layers.Activation("relu"),
    layers.Dropout(0.3),
    layers.Dense(8),
    #layers.BatchNormalization(),
    layers.Activation("relu"),
    layers.Dropout(0.2),
    layers.Dense(1, activation="sigmoid")
])

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
import tensorflow as tf

def focal_loss(gamma=2.0, alpha=0.75):
    def loss(y_true, y_pred):
        bce = tf.keras.losses.binary_crossentropy(y_true, y_pred)
        p_t = y_true*y_pred + (1-y_true)*(1-y_pred)
        return alpha * tf.pow(1-p_t, gamma) * bce
    return loss

In [ ]:
model.compile(
    optimizer="adam",
    loss=focal_loss(),
    metrics=["accuracy"]
)

model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 16)                        208

 activation (Activation)          (None, 16)                          0

 dropout (Dropout)                (None, 16)                          0

 dense_1 (Dense)                  (None, 8)                         136

 activation_1 (Activation)        (None, 8)                           0

 dropout_1 (Dropout)              (None, 8)                           0

 dense_2 (Dense)                  (None, 1)                           9

 Total params: 353 (1.38 KB)

 Trainable params: 353 (1.38 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
history = model.fit(
    X_train,
    y_train,
    epochs=27,
    batch_size=32,
    validation_split=0.2,
)

Epoch 1/27
200/200  6s 6ms/step - accuracy: 0.7278 - loss: 0.0901 - val_accuracy: 0.7994 - val_loss: 0.0530
Epoch 2/27
200/200  1s 6ms/step - accuracy: 0.7936 - loss: 0.0625 - val_accuracy: 0.8012 - val_loss: 0.0479
Epoch 3/27
200/200  1s 4ms/step - accuracy: 0.7953 - loss: 0.0542 - val_accuracy: 0.8019 - val_loss: 0.0467
Epoch 4/27
200/200  1s 6ms/step - accuracy: 0.8024 - loss: 0.0541 - val_accuracy: 0.8037 - val_loss: 0.0459
Epoch 5/27
200/200  1s 5ms/step - accuracy: 0.7962 - loss: 0.0529 - val_accuracy: 0.8119 - val_loss: 0.0452
Epoch 6/27
200/200  1s 4ms/step - accuracy: 0.8063 - loss: 0.0487 - val_accuracy: 0.8125 - val_loss: 0.0451
Epoch 7/27
200/200  1s 4ms/step - accuracy: 0.8117 - loss: 0.0476 - val_accuracy: 0.8150 - val_loss: 0.0442
Epoch 8/27
200/200  1s 4ms/step - accuracy: 0.8174 - loss: 0.0468 - val_accuracy: 0.8175 - val_loss: 0.0437
Epoch 9/27
200/200  1s 5ms/step - accuracy: 0.8065 - loss: 0.0480 - val_accuracy: 0.8150 - val_loss: 0.0431
Epoch 10/27
200/200  2s 7ms/step - accuracy: 0.8135 - loss: 0.0453 - val_accuracy: 0.8188 - val_loss: 0.0422
Epoch 11/27
200/200  3s 9ms/step - accuracy: 0.8170 - loss: 0.0426 - val_accuracy: 0.8281 - val_loss: 0.0409
Epoch 12/27
200/200  1s 6ms/step - accuracy: 0.8157 - loss: 0.0456 - val_accuracy: 0.8431 - val_loss: 0.0392
Epoch 13/27
200/200  1s 5ms/step - accuracy: 0.8198 - loss: 0.0445 - val_accuracy: 0.8462 - val_loss: 0.0381
Epoch 14/27
200/200  1s 5ms/step - accuracy: 0.8317 - loss: 0.0399 - val_accuracy: 0.8519 - val_loss: 0.0366
Epoch 15/27
200/200  1s 5ms/step - accuracy: 0.8233 - loss: 0.0421 - val_accuracy: 0.8587 - val_loss: 0.0355
Epoch 16/27
200/200  1s 4ms/step - accuracy: 0.8333 - loss: 0.0412 - val_accuracy: 0.8600 - val_loss: 0.0344
Epoch 17/27
200/200  1s 5ms/step - accuracy: 0.8295 - loss: 0.0420 - val_accuracy: 0.8594 - val_loss: 0.0339
Epoch 18/27
200/200  1s 7ms/step - accuracy: 0.8330 - loss: 0.0385 - val_accuracy: 0.8600 - val_loss: 0.0333
Epoch 19/27
200/200  2s 9ms/step - accuracy: 0.8295 - loss: 0.0405 - val_accuracy: 0.8612 - val_loss: 0.0332
Epoch 20/27
200/200  2s 9ms/step - accuracy: 0.8354 - loss: 0.0381 - val_accuracy: 0.8637 - val_loss: 0.0323
Epoch 21/27
200/200  1s 7ms/step - accuracy: 0.8330 - loss: 0.0411 - val_accuracy: 0.8662 - val_loss: 0.0316
Epoch 22/27
200/200  1s 5ms/step - accuracy: 0.8321 - loss: 0.0397 - val_accuracy: 0.8669 - val_loss: 0.0318
Epoch 23/27
200/200  1s 5ms/step - accuracy: 0.8224 - loss: 0.0413 - val_accuracy: 0.8644 - val_loss: 0.0309
Epoch 24/27
200/200  1s 6ms/step - accuracy: 0.8399 - loss: 0.0364 - val_accuracy: 0.8662 - val_loss: 0.0305
Epoch 25/27
200/200  1s 4ms/step - accuracy: 0.8384 - loss: 0.0383 - val_accuracy: 0.8675 - val_loss: 0.0304
Epoch 26/27
200/200  1s 4ms/step - accuracy: 0.8343 - loss: 0.0377 - val_accuracy: 0.8694 - val_loss: 0.0300
Epoch 27/27
200/200  1s 4ms/step - accuracy: 0.8401 - loss: 0.0372 - val_accuracy: 0.8694 - val_loss: 0.0296

In [ ]:
loss, acc = model.evaluate(X_test, y_test)
print("Test Accuracy:", acc)

63/63  0s 2ms/step - accuracy: 0.8678 - loss: 0.0261
Test Accuracy: 0.8579999804496765

In [ ]:
import pandas as pd

sample = pd.DataFrame([{
    "CreditScore":520,
    "Gender":0,
    "Age":55,
    "Tenure":1,
    "Balance":125000,
    "NumOfProducts":1,
    "HasCrCard":0,
    "IsActiveMember":0,
    "EstimatedSalary":90000,
    "Geography_France":0,
    "Geography_Germany":1,
    "Geography_Spain":0
}])

In [ ]:
sample_scaled = scaler.transform(sample)

In [ ]:
pred = model.predict(sample_scaled)

print("Probability:", pred[0][0])

if pred[0][0] > 0.34:
    print("Prediction: Customer will exit")
else:
    print("Prediction: Customer stays")

1/1  0s 58ms/step
Probability: 0.73486316
Prediction: Customer will exit

In [ ]:
y_pred_prob = model.predict(X_test)

63/63  0s 2ms/step

In [ ]:
y_pred = (y_pred_prob > 0.34).astype(int)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.91      0.90      1593
           1       0.63      0.61      0.62       407

    accuracy                           0.85      2000
   macro avg       0.77      0.76      0.76      2000
weighted avg       0.85      0.85      0.85      2000

In [ ]:
from sklearn.metrics import f1_score
import numpy as np

best_t = 0
best_f1 = 0

for t in np.arange(0.3,0.8,0.02):
    preds = (y_pred_prob > t).astype(int)
    f1 = f1_score(y_test, preds)
    if f1 > best_f1:
        best_f1 = f1
        best_t = t

print("Best threshold:", best_t)

Best threshold: 0.34

In [ ]:
model.export("saved_model")

Saved artifact at 'saved_model'. The following endpoints are available:

* Endpoint 'serve'
  args_0 (POSITIONAL_ONLY): TensorSpec(shape=(None, 12), dtype=tf.float32, name='keras_tensor_78')
Output Type:
  TensorSpec(shape=(None, 1), dtype=tf.float32, name=None)
Captures:
  136091217814800: TensorSpec(shape=(), dtype=tf.resource, name=None)
  136091217807888: TensorSpec(shape=(), dtype=tf.resource, name=None)
  136091217811152: TensorSpec(shape=(), dtype=tf.resource, name=None)
  136091217814224: TensorSpec(shape=(), dtype=tf.resource, name=None)
  136091217811920: TensorSpec(shape=(), dtype=tf.resource, name=None)
  136091217810960: TensorSpec(shape=(), dtype=tf.resource, name=None)

In [ ]:
!pip install numpy==1.26.4 tf2onnx onnx onnxruntime

Collecting numpy==1.26.4
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
      61.0/61.0 kB 2.9 MB/s eta 0:00:00
Collecting tf2onnx
  Downloading tf2onnx-1.16.1-py3-none-any.whl.metadata (1.3 kB)
Collecting onnx
  Downloading onnx-1.20.1-cp312-abi3-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (8.4 kB)
Collecting onnxruntime
  Downloading onnxruntime-1.24.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from tf2onnx) (2.32.4)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from tf2onnx) (1.17.0)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.12/dist-packages (from tf2onnx) (25.12.19)
Collecting protobuf~=3.20 (from tf2onnx)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
INFO: pip is looking at multiple versions of onnx to determine which version is compatible with other requirements. This could take a while.
Collecting onnx
  Downloading onnx-1.20.0-cp312-abi3-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (8.4 kB)
  Downloading onnx-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (7.0 kB)
  Downloading onnx-1.19.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (7.0 kB)
  Downloading onnx-1.18.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
  Downloading onnx-1.17.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (16 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from onnxruntime) (26.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.12/dist-packages (from onnxruntime) (1.14.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->tf2onnx) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->tf2onnx) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->tf2onnx) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->tf2onnx) (2026.1.4)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy->onnxruntime) (1.3.0)
Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
    18.0/18.0 MB 56.0 MB/s eta 0:00:00
Downloading tf2onnx-1.16.1-py3-none-any.whl (455 kB)
    455.8/455.8 kB 19.4 MB/s eta 0:00:00
Downloading onnx-1.17.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
    16.0/16.0 MB 50.7 MB/s eta 0:00:00
Downloading onnxruntime-1.24.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (17.1 MB)
    17.1/17.1 MB 46.1 MB/s eta 0:00:00
Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
    162.1/162.1 kB 3.2 MB/s eta 0:00:00
Installing collected packages: protobuf, numpy, onnxruntime, onnx, tf2onnx
  Attempting uninstall: protobuf
    Found existing installation: protobuf 5.29.6
    Uninstalling protobuf-5.29.6:
      Successfully uninstalled protobuf-5.29.6
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jaxlib 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
jax 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
rasterio 1.5.0 requires numpy>=2, but you have numpy 1.26.4 which is incompatible.
opencv-contrib-python 4.13.0.92 requires numpy>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
opentelemetry-proto 1.38.0 requires protobuf<7.0,>=5.0, but you have protobuf 3.20.3 which is incompatible.
shap 0.50.0 requires numpy>=2, but you have numpy 1.26.4 which is incompatible.
grain 0.2.15 requires protobuf>=5.28.3, but you have protobuf 3.20.3 which is incompatible.
opencv-python 4.13.0.92 requires numpy>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
ydf 0.15.0 requires protobuf<7.0.0,>=5.29.1, but you have protobuf 3.20.3 which is incompatible.
pytensor 2.37.0 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
grpcio-status 1.71.2 requires protobuf<6.0dev,>=5.26.1, but you have protobuf 3.20.3 which is incompatible.
tobler 0.13.0 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
tensorflow-metadata 1.17.3 requires protobuf>=4.25.2; python_version >= "3.11", but you have protobuf 3.20.3 which is incompatible.
opencv-python-headless 4.13.0.92 requires numpy>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
Successfully installed numpy-1.26.4 onnx-1.17.0 onnxruntime-1.24.1 protobuf-3.20.3 tf2onnx-1.16.1

In [ ]:
# 2 Install converter (Colab)
!pip install -q tf2onnx onnx onnxruntime

# 3 Convert SavedModel  ONNX
!python -m tf2onnx.convert \
    --saved-model saved_model \
    --output churn_model.onnx \
    --opset 13

2026-02-19 10:53:25.102052: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2026-02-19 10:53:25.146870: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2026-02-19 10:53:25.225147: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1771498405.453639   30573 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1771498405.498571   30573 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1771498405.599859   30573 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1771498405.599958   30573 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1771498405.599975   30573 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1771498405.599983   30573 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2026-02-19 10:53:25.623667: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
<frozen runpy>:128: RuntimeWarning: 'tf2onnx.convert' found in sys.modules after import of package 'tf2onnx', but prior to execution of 'tf2onnx.convert'; this may result in unpredictable behaviour
2026-02-19 10:53:46,190 - WARNING - ***IMPORTANT*** Installed protobuf is not cpp accelerated. Conversion will be extremely slow. See https://github.com/onnx/tensorflow-onnx/issues/1557
2026-02-19 10:53:46.208294: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)
2026-02-19 10:53:46,220 - WARNING - '--tag' not specified for saved_model. Using --tag serve
2026-02-19 10:53:46,545 - INFO - Signatures found in model: [serve,serving_default].
2026-02-19 10:53:46,545 - WARNING - '--signature_def' not specified, using first signature: serve
2026-02-19 10:53:46,545 - INFO - Output names: ['output_0']
I0000 00:00:1771498426.556293   30573 devices.cc:67] Number of eligible GPUs (core count >= 8, compute capability >= 0.0): 0
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1771498426.556747   30573 single_machine.cc:374] Starting new session
I0000 00:00:1771498426.763025   30573 devices.cc:67] Number of eligible GPUs (core count >= 8, compute capability >= 0.0): 0
I0000 00:00:1771498426.763622   30573 single_machine.cc:374] Starting new session
2026-02-19 10:53:46,790 - INFO - Using tensorflow=2.19.0, onnx=1.17.0, tf2onnx=1.16.1/15c810
2026-02-19 10:53:46,790 - INFO - Using opset <onnx, 13>
2026-02-19 10:53:46,800 - INFO - Computed 0 values for constant folding
2026-02-19 10:53:46,812 - INFO - Optimizing ONNX model
2026-02-19 10:53:46,860 - INFO - After optimization: Identity -2 (2->0)
2026-02-19 10:53:46,863 - INFO -
2026-02-19 10:53:46,863 - INFO - Successfully converted TensorFlow model saved_model to ONNX
2026-02-19 10:53:46,863 - INFO - Model inputs: ['keras_tensor_78']
2026-02-19 10:53:46,863 - INFO - Model outputs: ['output_0']
2026-02-19 10:53:46,863 - INFO - ONNX model is saved at addition_model.onnx

In [ ]:
import joblib

joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']